{% extends 'base.html' %}
{% block content %}

<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Forget Password</h2>
      </div>
     <div class="container">{% include 'includes/alerts.html' %}</div>
        <div class="row clearfix">
                <div class="">
                <form action="{% url 'forgetpassword' %}" method="post">
                    {% csrf_token %}
            <label for="email">Email</label>
            <input type="text" placeholder="Email or Phone" id="email" name="email">
            <span ><a href="{% url 'login' %}">Got password! Login</a></span>
            <span> Try Another Way<a href="{% url 'login' %}">click here</a></span>
            <input type="submit" value="SUBMIT">
            <span> I don't have acoount<a href="{% url 'register' %}">click here</a></span>   
        </div>
      </div>
    </div>

{% endblock %}
