{% extends 'base.html' %}
{% block content %}
{% if request.GET.command == 'verification' %}
<div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1000px;margin: 200px;">
  Thank you for Registration!,We have sent activation link to your email address [{{request.GET.email}}] verify it to login.
  <br><br>
  Already verified?<a href="{% url 'login' %}">Login</a>
</div>
{% else %}
<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Login Form</h2>
      </div>
     <div class="container">{% include 'includes/alerts.html' %}</div>
        <div class="row clearfix">
                <div class="">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <h3>Login Here</h3>
            <label for="email">Email</label>
            <input type="text" placeholder="Email or Phone" id="email" name="email">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password" name="password">
            <input type="submit" value="LOGIN">
            <span><a href="{% url 'forgetpassword' %}">forget password</a></span>
            <span> I don't have acoount<a href="{% url 'register' %}">click here</a></span>
            <div class="social">
            <div class="go"><i class="fab fa-google"></i>  <a href="https://www.google.com/">Google</a></div>
            <div class="fb"><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/" >Facebook</a></div>
            </div>
        </div>
      </div>
    </div>
  </div>
  {% endif%}
{% endblock %}